.layout-wrap {
    max-width: 1400px;
}

.md-toolbar-tools a:hover {
    color: #fff;
}

md-fab-toolbar md-fab-trigger .md-fab-toolbar-background {
    left: 0;
}

.b-feed {
    margin-top: 15px;
    margin-bottom: 15px;
}

.b-avatar {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.b-feed {
    max-width: 520px;
    margin-left: auto;
}

.b-link {
    letter-spacing: 0.01em;
    color: rgb(63, 81, 181);
    text-decoration: none;
}

.b-link:hover {
    text-decoration: underline;
}

md-list-item.md-3-line > .md-avatar {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

md-switch .md-label .md-container {
    display: none !important;
}

.b-switches {
    min-height: 220px;
    padding: 5px;
}

.b-switches md-switch {
    justify-content: space-between;
}

.b-switches md-switch > .md-container {
    order: 1000;
}

/*.fabToolbardemoBasicUsage md-fab-toolbar.md-right md-fab-trigger.align-with-text {*/
/*left: 7px;*/
/*}*/

/*body {*/
/*padding-bottom: 20px;*/
/*}*/

/*!* Set padding to keep content from hitting the edges *!*/
/*.body-content {*/
/*padding-left: 15px;*/
/*padding-right: 15px;*/
/*padding-top: 50px;*/
/*}*/

/*!* Set width on the form input elements since they're 100% wide by default *!*/
/*input,*/
/*select,*/
/*textarea {*/
/*max-width: 280px;*/
/*}*/

/*.inputdemoErrors .inputErrorsApp {*/
/*min-height: 48px;*/
/*}*/

/*.buttondemoBasicUsage section .md-button {*/
/*margin-top: 16px;*/
/*margin-bottom: 16px;*/
/*}*/

/*.buttondemoBasicUsage section {*/
/*background: #f7f7f7;*/
/*border-radius: 3px;*/
/*text-align: center;*/
/*margin: 1em;*/
/*position: relative !important;*/
/*padding-bottom: 10px;*/
/*}*/

/*.buttondemoBasicUsage md-content {*/
/*margin-right: 7px;*/
/*}*/

/*.buttondemoBasicUsage section .md-button {*/
/*margin-top: 16px;*/
/*margin-bottom: 16px;*/
/*}*/

/*.buttondemoBasicUsage .label {*/
/*position: absolute;*/
/*bottom: 5px;*/
/*left: 7px;*/
/*font-size: 14px;*/
/*opacity: 0.54;*/
/*}*/