@{
ViewBag.Title = "MyPage";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div layout="row" layout-wrap ng-controller="AppCtrl" flex="100">
	<div flex="5"></div>
	<div flex="20">
		<md-card class="b-avatar md-whiteframe-11dp">
			<img alt="Sandeep Gravatar image" src='@Url.Content("~/Content/images/petushok.jpg")'/>
		</md-card>

		<div style="height: 30px;"></div>

		<!--<md-button style="width: 100%;" class="md-primary md-raised" ng-click="showAdvanced($event)">Ритм жизни</md-button>-->
	</div>
	<div flex="5"></div>
	<div flex="30">
		<md-card>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h3>
						<span>Текущие показатели</span>
					</h3>
				</div>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-list-item class="md-2-line md-no-proxy" role="listitem">
						<img width="40" height="40" src="~/Content/images/thermometer73.svg" class="md-avatar" alt="">

						<div class="md-list-item-text">
							<h3>{{dataTemp}}&deg;C</h3>

							<p>Температура</p>
						</div>
					</md-list-item>
					<md-divider></md-divider>
					<md-list-item class="md-2-line md-no-proxy" role="listitem">
						<img width="40" height="40" src="~/Content/images/illumination12.svg" class="md-avatar" alt="">

						<div class="md-list-item-text">
							<h3>{{dataLx}} lux(люкс)</h3>

							<p>Освещенность</p>
						</div>
					</md-list-item>
					<md-divider></md-divider>
					<md-list-item class="md-2-line md-no-proxy" role="listitem">
						<img width="40" height="40" src="~/Content/images/pet60.svg" class="md-avatar" alt="">

						<div class="md-list-item-text">
							<h3>{{dataLt}}%(Норма)</h3>

							<p>Уровень воды</p>
						</div>
					</md-list-item>
					<md-divider></md-divider>
					<md-list-item class="md-2-line md-no-proxy" role="listitem">
						<img width="40" height="40" src="~/Content/images/cat40.svg" class="md-avatar" alt="">

						<div class="md-list-item-text">
							<h3>{{dataFood}}%</h3>

							<p>Корм</p>
						</div>
					</md-list-item>
				</md-list>
			</md-content>
		</md-card>
	</div>
	<div flex="5"></div>
	<div flex="30">
		<md-card>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h3>
						<span>Управление</span>
					</h3>
				</div>
			</md-toolbar>
			<md-content style="height: 200px;min-height: 200px;" class="b-switches">
				<md-switch ng-model="ModeldataSetting.cb1" aria-label="Освещение" class="md-block" ng-change="setDataSetting('cb1', dataSetting.cb1)" ng-true-value="'включено'" ng-false-value="'выключено'">
					Освещение
				</md-switch>
				<md-switch ng-model="ModeldataSetting.cb6" aria-label="Насыщение кислородом" class="md-block" ng-change="setDataSetting('cb6', dataSetting.cb6)" ng-true-value="'включено'" ng-false-value="'выключено'">
					Насыщение кислородом
				</md-switch>
				<md-switch ng-model="ModeldataSetting.cb2" aria-label="Подогрев" class="md-block" ng-change="setDataSetting('cb2', dataSetting.cb2)" ng-true-value="'включено'" ng-false-value="'выключено'">
					Подогрев
				</md-switch>
				<md-switch ng-model="ModeldataSetting.cb3" aria-label="Красная подсветка" class="md-block" ng-change="setDataSetting('cb3', dataSetting.cb3)" ng-true-value="'включено'" ng-false-value="'выключено'">
					Красная подсветка
				</md-switch>
				<md-switch ng-model="ModeldataSetting.cb4" aria-label="Зеленая подсветка" class="md-block" ng-change="setDataSetting('cb4', dataSetting.cb4)" ng-true-value="'включено'" ng-false-value="'выключено'">
					Зеленая подсветка
				</md-switch>
				<md-switch ng-model="ModeldataSetting.cb5" aria-label="Синяя подсветка" class="md-block" ng-change="setDataSetting('cb5', dataSetting.cb5)" ng-true-value="'включено'" ng-false-value="'выключено'">
					Синяя подсветка
				</md-switch>
			</md-content>
		</md-card>
		<md-card>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h3>
						<span>Фото</span>
					</h3>
				</div>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-list-item class="md-3-line" ng-repeat="photo in photos" flex>
						<img ng-src="{{photo.face}}?{{$index}}" class="md-avatar" alt="{{photo.who}}" width="40" height="40"/>
						<img ng-src="{{photo.face}}?{{$index}}" class="md-avatar" alt="{{photo.who}}" width="40" height="40"/>
						<img ng-src="{{photo.face}}?{{$index}}" class="md-avatar" alt="{{photo.who}}" width="40" height="40"/>
						<img ng-src="{{photo.face}}?{{$index}}" class="md-avatar" alt="{{photo.who}}" width="40" height="40"/>
						<img ng-src="{{photo.face}}?{{$index}}" class="md-avatar" alt="{{photo.who}}" width="40" height="40"/>
						<img ng-src="{{photo.face}}?{{$index}}" class="md-avatar" alt="{{photo.who}}" width="40" height="40"/>
					</md-list-item>
				</md-list>
			</md-content>
		</md-card>
		<md-card>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h3>
						<span>Видео</span>
					</h3>
				</div>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-list-item class="md-3-line" ng-repeat="video in videos" flex>
						<img ng-src="{{video.face}}?{{$index}}" class="md-avatar" alt="{{video.who}}" width="40" height="40"/>
						<img ng-src="{{video.face}}?{{$index}}" class="md-avatar" alt="{{video.who}}" width="40" height="40"/>
						<img ng-src="{{video.face}}?{{$index}}" class="md-avatar" alt="{{video.who}}" width="40" height="40"/>
						<img ng-src="{{video.face}}?{{$index}}" class="md-avatar" alt="{{video.who}}" width="40" height="40"/>
						<img ng-src="{{video.face}}?{{$index}}" class="md-avatar" alt="{{video.who}}" width="40" height="40"/>
						<img ng-src="{{video.face}}?{{$index}}" class="md-avatar" alt="{{video.who}}" width="40" height="40"/>
					</md-list-item>
				</md-list>
			</md-content>
		</md-card>
	</div>
	<div flex="5"></div>
</div>

<md-dialog style="" id="md-dialog-settings" aria-label="Mango (Fruit)" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Mango (Fruit)</h2>
			<span class="flex"></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="~/Content/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content style="width: 600px; height: 500px; padding: 10px 40px;">
		<div layout>
			<div flex="10" layout layout-align="center center">
				<span class="md-body-1">R</span>
			</div>
			<md-slider flex min="0" max="100" ng-model="color.red" aria-label="red" id="red-slider" class>
			</md-slider>
			<div flex="20" layout layout-align="center center" style="padding-left: 20px;">
				<input flex type="text" ng-model="color.red" aria-label="red" aria-controls="red-slider">
			</div>
		</div>
		<div layout>
			<div flex="10" layout layout-align="center center">
				<span class="md-body-1">G</span>
			</div>
			<md-slider flex ng-model="color.green" min="0" max="100" aria-label="green" id="green-slider" class="md-accent">
			</md-slider>
			<div flex="20" layout layout-align="center center" style="padding-left: 20px;">
				<input flex type="text" ng-model="color.green" aria-label="green" aria-controls="green-slider">
			</div>
		</div>
		<h3>Disabled</h3>
		<md-slider ng-model="disabled1" ng-disabled="true" aria-label="Disabled 1"></md-slider>
	</md-content>
</md-dialog>
<script>

	app.controller('AppCtrl', function ($scope, $mdDialog) {

		$scope.setDataSetting = function (type, value) {
			$scope.dataSetting[type] = !value;
			console.log(type, value);
		}

		$scope.dataSetting = {
			cb1: false,
			cb2: false,
			cb3: false,
			cb4: false,
			cb5: false,
			cb6: false,
		};

		$scope.dataTemp = 24;
		$scope.dataLt = 98;
		$scope.dataFood = 60;
		$scope.dataLx = 120;

		$scope.dt = {
			t1: false,
			cb4: true,
			cb5: false
		};
		$scope.message = 'false';
		$scope.onChange = function (cbState) {

			console.log(cbState);

			$scope.message = cbState;
		};

		var url = "http://192.168.2.115/IoT";

		var getDatas = function() {

			$.ajax(url+'/gettemp', {
//				crossDomain: false,
				complete: function (data) {
					console.log(data);
				}
			})
		}

		getDatas();
//		setTimeout(function () {
//			setInterval(function () {
//				getDatas()
//			}, 5000)
//		}, 5000)

		/*
		var updateDataCurrent = function () {

			$.ajax('/api/values', {
				complete: function (data) {
					$.each(JSON.parse(data.responseText), function (index, value) {
						switch (index) {
							case "dataTemp":
								$scope.dataTemp = value;
							case "dataLt":
								$scope.dataLt = value;
							case "dataFood":
								$scope.dataFood = value;
							case "dataLx":
								$scope.dataLx = value;
							default:
								console.log(data);
						}
					})
				}
			});
		}

		updateDataCurrent();
		setInterval(function () {
			updateDataCurrent();
		}, 60000);
		*/
		$scope.status = '  ';
		$scope.showAdvanced = function (ev) {
			$mdDialog.show({
						controller: DialogController,
						template: $('#md-dialog-settings').html(),
						parent: angular.element(document.body),
						targetEvent: ev,
						clickOutsideToClose: true
					})
					.then(function (answer) {
						$scope.status = 'You said the information was "' + answer + '".';
					}, function () {
						$scope.status = 'You cancelled the dialog.';
					});
		};

		var photoFace = '@Url.Content("~/Content/images/60.jpeg")';
		$scope.photos = [
			{
				face: photoFace,
				who: 'Min Li Chan',
			}
		];

		var videoface = '@Url.Content("~/Content/images/kajshdiasd.jpeg")';
		$scope.videos = [
			{
				face: videoface,
				who: 'Min Li Chan',
			}
		];
	});

	function DialogController($scope, $mdDialog) {
		$scope.hide = function () {
			$mdDialog.hide();
		};
		$scope.cancel = function () {
			$mdDialog.cancel();
		};
		$scope.answer = function (answer) {
			$mdDialog.hide(answer);
		};
	}

	angular.module('sliderDemo1', ['ngMaterial'])
			.controller('AppCtrl', function ($scope) {
				$scope.color = {
					red: Math.floor(Math.random() * 255),
					green: Math.floor(Math.random() * 255),
					blue: Math.floor(Math.random() * 255)
				};
				$scope.rating1 = 3;
				$scope.rating2 = 2;
				$scope.rating3 = 4;
				$scope.disabled1 = 0;
				$scope.disabled2 = 70;
			});
</script>